# Copy this file to .env (or export env vars) before running.
AGENT_SERVER_IMAGE_REPOSITORY=REPLACE_ME
AGENT_SERVER_IMAGE_TAG=REPLACE_ME
AZURE_DEVOPS_TOKEN=REPLACE_ME
BACKEND_HOST=REPLACE_ME
BASE=REPLACE_ME
BITBUCKET_DATA_CENTER_TOKEN=REPLACE_ME
BITBUCKET_TOKEN=REPLACE_ME
DATE=REPLACE_ME
DD_ENV=REPLACE_ME
GITHUB_TOKEN=REPLACE_ME
GITLAB_TOKEN=REPLACE_ME
OPENHANDS_CONTAINER_NAME=REPLACE_ME
OPENHANDS_DEV_CONTAINER_NAME=REPLACE_ME
OPENHANDS_DEV_IMAGE_NAME=REPLACE_ME
OPENHANDS_HOME=REPLACE_ME
OPENHANDS_IMAGE_NAME=REPLACE_ME
OPENHANDS_VERSION=REPLACE_ME
OPENHANDS_WORKSPACE=REPLACE_ME
PIP_VERSION=REPLACE_ME
POETRY_VERSION=REPLACE_ME
PROTOCOL=REPLACE_ME
SANDBOX_USER_ID=REPLACE_ME
VIRTUAL_ENV=REPLACE_ME
VITEST=REPLACE_ME
VITE_BACKEND_HOST=REPLACE_ME
